*{
    box-sizing: border-box;

}

body {
    /* margin: 0; */
    font-family: Arial;
    

    
    
    
}
@media (max-width: 768px){
    .top{
        max-height: 800px;
        /* text-align: center; */
        
    }
}
.top{
    
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    cursor: pointer;
    

    
}

.link-title{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 40px;
}
.link-title a {
    color: rgb(57, 140, 179);
    font-family: bbvs;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    text-transform: none;
    text-decoration: none;

       


}
.two_text{
    text-align: center;
    color: rgb(82, 80, 80);
}
.row{
    text-align: center;
 }
 .first{
    
    width: 62%;
    height: auto;
    margin-top: 2em;
    
    
    
    
  }
 .second{
    width: 62%;
    height: auto;
    margin-top: 2em;
    
  }
 .third{
    width: 60%;
    height: auto;
    margin-top: 2em;
    
    
  }
 .fourth{
    width: 59%;
    height: auto;
    margin-top: 2em;
 
 
    
  }
 .fifth{
    width: 59%;
    height: auto;
    margin-top: 2em;
      
  }
  .sixth{
    width: 53%;
    height: auto;
    margin-top: 2em;
    
  }
  .seventh{
    width: 50%;
    height: auto;
    margin-top: 2em;
  }
  .eigth{
    width: 40%;
    height: auto;
    margin-top: 2em;
    
  }
  .nine{
    width: 59%;
    height: auto;
    margin-top: 2em;
  }
  .ten{
    width: 55%;
    height: auto;
    margin-top: 2em;
  }
  .eleven{
    width: 40%;
    height: auto;
    margin-top: 2em;
  }
  
  @media (max-width: 800px){
    .row .first  {
        
        width: 90%;
        max-height: 800px;
        margin-top: 1em;
        
        
    }}
  @media (max-width: 800px){
    .row .second  {
        
        width: 90%;
        max-height: 800px;
        margin-top: 1em;
        
        
    }}
  @media (max-width: 800px){
    .row .third  {
        
        width: 90%;
        max-height: 800px;
        margin-top: 1em;
        
        
    }}
  @media (max-width: 800px){
    .row .fourth  {
        
        width: 90%;
        max-height: 800px;
        margin-top: 1em;
        
        
    }}
  @media (max-width: 800px){
    .row .fifth  {
        
        width: 90%;
        max-height: 800px;
        margin-top: 1em;
        
        
    }}
  @media (max-width: 800px){
    .row .sixth  {
        
        width: 90%;
        max-height: 800px;
        margin-top: 1em;
        
        
    }}
  @media (max-width: 800px){
    .row .seventh  {
        
        width: 90%;
        max-height: 800px;
        margin-top: 1em;
        
        
    }}
  @media (max-width: 800px){
    .row .eigth  {
        
        width: 90%;
        max-height: 800px;
        margin-top: 1em;
        
        
    }}
  @media (max-width: 800px){
    .row .nine  {
        
        width: 90%;
        max-height: 800px;
        margin-top: 1em;
        
        
    }}
  @media (max-width: 800px){
    .row .ten  {
        
        width: 90%;
        max-height: 800px;
        margin-top: 1em;
        
        
    }}
  @media (max-width: 800px){
    .row .eleven  {
        
        width: 90%;
        max-height: 800px;
        margin-top: 1em;
        
        
    }}
  
    .back_to_top{
      text-decoration: none;
      color: black;
      cursor: pointer;
      margin-top: 80px;
  }
ul{
    overflow:hidden;
    text-align: center;
    
    
    }
    li{
    display:inline;
    
    
    
    }
    .footer  ul li a img {
        margin-top: 60px;
        margin-bottom: 10px;
        margin-left: 30px;
        width: 40px;
        height: 35px;
        
    }
    ul li .text{
    width: 25%;
    display: inline-block;
    text-align: center;
}